HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Trained Models ###

*.crc
*.parquet
_SUCCESS
resources/static/data/trained-models/
/src/main/resources/static/data/trained-models/
