<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Collection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/root-page-style.css" />
  <link rel="stylesheet" href="/css/game-style.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
</head>
<body class="bg-dark-2">

<header class="masthead special-color-dark mb-4">
  <nav class="navbar shadow navbar-dark p-3 bg-dark-2 text-white" aria-label="Main navigation">
    <div class="container-fluid d-grid gap-3 align-items-center">
      <ul class="nav col col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
        <a class="font-weight-bold navbar-brand" href="/store">Game Store</a>
        <li><a class="nav-link px-2 text-white" href="/store">Store</a></li>
        <li><a th:if="${#httpServletRequest.remoteUser}!=null" class="nav-link px-2 text-white"
               href="/collection">Collection</a></li>
      </ul>
      <div class="d-flex justify-content-end text-white">
        <div th:if="${#httpServletRequest.remoteUser}!=null">
          <a class="nav-link dropdown-toggle l text-white"
             data-toggle="dropdown" href="#" role="button"
             aria-haspopup="true"
             aria-expanded="false">
            <label th:text="${user.publicUsername}"></label>
          </a>
          <div class="dropdown-menu shadow" aria-labelledby="dropdownUser2"
               style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.00172424px, 56px, 0px);">
            <a class="dropdown-item" href="/account">Account</a>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/support">Contact support</a>
            <a class="dropdown-item" href="/upload">Upload game</a>

            <hr class="dropdown-divider">
            <form class="dropdown-item" th:action="@{/logout}" method="post">
              <button class="btn btn-md btn-light text-dark" type="submit">Log out</button>
            </form>

          </div>
        </div>
        <div th:if="${#httpServletRequest.remoteUser}==null">
          <a class="text-end text-white" href="/log-in?login" th:text="'login'"></a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main role="main" class="shadow mb-4 gradient-bg">
  <div class="container p-5">
    <div
        class="row mx-md-n5 d-flex justify-content-around row-cols-1 row-cols-lg-4 row-cols-l align-items-stretch g-4 py-5">
      <div class="col py-5" th:each="userGame, i : ${collection}">
        <div class="text-white">
          <a th:href="@{/game/{gameId}/(gameId =${userGame.game.id})}">
            <img th:id="'image' + ${i.index}" style="width:240px; height:240px"
                 th:src="'data:image/png;base64,'+
                             ${gameCollectionImages.get(i.index).image.getBase64ImageData()}"
                 class="rounded-5 shadow" alt=""/>
            <p class="game-title" th:text="${userGame.game.title}"></p>
            <p class="game-price" th:text="${userGame.game.price} + ' usd.'"></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<footer style="background-image: var(--bg-gradient);" class="footer-10 bg-dark-2
justify-content-center special-color-dark font-small text-muted shadow">
  <div class="container text-center">
    <p>
      This website is only for educational and demonstration purposes.
    </p>
    <a href="">Privacy Policy</a>
    <a href="">Agreement</a>
  </div>
</footer>
</body>
</html>