<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <title>Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/root-page-style.css"/>
  <link rel="stylesheet" href="/css/game-style.css"/>
  <link rel="stylesheet" href="/css/store.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/open-form.js}"></script>
  <script type="text/javascript" th:src="@{/js/pass-range-value.js}"></script>
</head>
<body class="bg-dark-2">

<header class="masthead special-color-dark">
  <nav class="navbar shadow navbar-dark p-3 bg-dark-2 text-white" aria-label="Main navigation">
    <div class="container-fluid d-grid gap-3 align-items-center">
      <ul class="nav col col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
        <a class="font-weight-bold navbar-brand" href="/store">Game Store</a>
        <li><a class="nav-link px-2 text-white" href="/store">Store</a></li>
        <li><a th:if="${#httpServletRequest.remoteUser}!=null" class="nav-link px-2 text-white"
               href="/collection">Collection</a></li>
      </ul>
      <div class="d-flex justify-content-end text-white">
        <div th:if="${#httpServletRequest.remoteUser}!=null">
          <a class="nav-link dropdown-toggle l text-white"
             data-toggle="dropdown" href="#" role="button"
             aria-haspopup="true"
             aria-expanded="false">
            <label th:text="${user.publicUsername}"></label>
          </a>
          <div class="dropdown-menu shadow" aria-labelledby="dropdownUser2"
               style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.00172424px, 56px, 0px);">
            <a class="dropdown-item" href="/account">Account</a>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a sec:authorize="hasAuthority('1')" class="dropdown-item" href="/metrics">Metrics</a>
            <a class="dropdown-item" href="/upload">Upload game</a>

            <hr class="dropdown-divider">
            <form class="dropdown-item" th:action="@{/logout}" method="post">
              <button class="btn btn-md btn-light text-dark" type="submit">Log out</button>
            </form>

          </div>
        </div>
        <div th:if="${#httpServletRequest.remoteUser}==null">
          <a class="text-end text-white" href="/log-in" th:text="'login'"></a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="shadow mb-4 gradient-bg">
  <div class="container-lg">
    <div class="icon float-left mt-2">
      <a data-target="#filter" data-toggle="modal">
        <span class="material-icons">settings</span>
      </a>
    </div>
    <div class="float-right mb-4 mt-2">
      <form method="get" class="form-group flow" th:href="@{/store}" id="searchForm">
        <span class="icon material-icons">search</span>
        <input type="search" class="form-control bg-dark-2" aria-label="Default"
               aria-describedby="inputGroup-sizing-default"
               id="searchString" name="searchString" style="width:300px; z-index: 1;">
        <div style="position: absolute; z-index: 3; word-break: break-all;">
          <ul class="dropdown-menu bg-dark-2 show" id="drop" th:name="drop"
              th:if="${search} == true and ${searchedGames.size()} > 0"
              style="position: static; margin: 0px; z-index: 1;">
            <li th:each="searchedGame, i : ${searchedGames}">
              <a th:href="@{/game/{gameId}(gameId =${searchedGame.game.id})}">
                <div class="dropdown-item bg-dark-2 card" style="width:300px; height: 100px;">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <img th:id="'image' + ${i.count}"
                           th:src="'data:image/png;base64,'+
                           ${searchedGame.gamePicture.image.getBase64ImageData()}"
                           class="d-block w-100 img-fluid image-uploaded"/>
                    </div>
                    <div class="col-md-6">
                      <div class="text-center">
                        <small>
                          <label class="card-title" style="white-space: pre-wrap;"
                                 th:text="${searchedGame.game.title}">
                          </label>
                        </small>
                        <p class="card-text">
                          <small
                              th:text="${searchedGame.game.price} + '$'">
                          </small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <ul class="dropdown-menu bg-dark-2 show" id="drop2" th:name="drop2"
              th:if="${search} == true and ${searchedGames.size()} <= 0"
              style="position: static; inset: 0px 0px auto auto; margin: 0px;">
            <li>
              <div class="dropdown-item card" style=" width:270px; height: 60px;">
                <div class="card-body text-center">
                  <p class="card-text"
                     th:text="'Nothing was found.'">
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="mb-4">
      <th:block th:replace="explore"></th:block>
    </div>
    <div th:if="${#httpServletRequest.remoteUser}!=null">
      <th:block th:replace="recommendations"></th:block>
    </div>
    <div class="container text-center" th:if="${#httpServletRequest.remoteUser}==null">
      <h3>Please log in to your account to see more recommendations</h3>
    </div>
  </div>
</main>
<footer
    class="footer-10 bg-dark-2 justify-content-center special-color-dark font-small text-muted shadow">
  <div class="container text-center">
    <p>
      This website is only for educational and demonstration purposes.
    </p>
  </div>
</footer>

<div class="modal fade"
     id="filter" tabindex="-1" role="dialog" aria-labelledby="Filter games"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form th:action="@{/store}" method="post" th:object="${filterparams}">
      <div class="modal-content text-white bg-dark">
        <div class="modal-header">
          <h5 class="modal-title " id="modalTitle">Filter Recommendations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Games minimal release date:</p>
          <input type="date" th:value="${releaseDate}" th:field="*{releaseDate}">
          <p>Minimal games price:</p>
          <div>
            <input id="minRange" name="minRange" type="range" th:min="0"
                   th:value="${minGamesPrice}"
                   th:max="1700" th:field="*{minGamesPrice}">
            <input id="minRangeResult" name="minRangeResult" type="text" value="0">
          </div>
          <p>Maximal games price:</p>
          <div>
            <input id="maxRange" name="maxRange" type="range" th:min="0"
                   th:value="${maxGamesPrice}"
                   th:max="1700" th:field="*{maxGamesPrice}">
            <input id="maxRangeResult" name="maxRangeResult" type="text" value="1700">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>