<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Account creation</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/root-page-style.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
</head>

<body class="bg-dark-2" style="background-image: var(--bg-gradient2);">

<header class="masthead special-color-dark mb-4">
  <nav class="navbar shadow navbar-dark p-3 bg-dark-2 text-white" aria-label="Main navigation">
    <div class="container-fluid d-grid gap-3 align-items-center">
      <ul class="nav col col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
        <a class="font-weight-bold navbar-brand" href="/">Game Store</a>
        <li><a class="nav-link px-2 text-white" href="/?store">Store</a></li>
        <li><a th:if="${#httpServletRequest.remoteUser}!=null" class="nav-link px-2 text-white"
               href="/?collection">Collection</a></li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="shadow mb-4">
  <div class="d-flex justify-content-center bg-dark-2"
       style="background-image: var(--bg-gradient);">
    <form name="form2" th:action="@{/create-account}" method="post">
      <h1 class="h3 mb-3 font-weight-normal text-white">Create your account</h1>

      <label for="user" class="text-muted">Username</label>
      <input type="text" id="user" name="user" class="form-control" placeholder="Enter username"
             required autofocus pattern="^[_A-Za-z0-9-+]{5,18}$"
             title="Please provide a username with 5+ length">

      <label for="userProfile" class="text-muted">Profile username</label>
      <input type="text" id="userProfile" name="userProfile" class="form-control"
             placeholder="This username will be shown publicly"
             pattern="^[_A-Za-z0-9-+]{5,18}$" required autofocus
             title=" Please provide a public username with 5+ length">

      <label for="password" class="text-muted">Password</label>
      <input type="password" id="password" name="password" class="form-control mb-4"
             placeholder="Enter password" pattern="^[_A-Za-z0-9-+]{8,40}$"
             title="Please provide a valid password that have more than 8 length">

      <label for="email" class="text-muted">Email address</label>
      <input type="email" id="email" name="email" class="form-control mb-4"
             placeholder="Enter email like: john@mail.com"
             required autofocus>

      <div class="text-center">
        <button style="width: 170px; background-image: var(--bs-gradient);"
                class="btn btn-md btn-primary"
                type="submit">
          Create account
        </button>
      </div>
      <div>
        <label class="text-white"> go back to log in page </label>
        <a href="/log-in" methods="get">
          Log in
        </a>
      </div>

    </form>
  </div>
</main>

<footer style="background-image: var(--bg-gradient);"
        class="footer-10 bg-dark-2 justify-content-center special-color-dark font-small text-muted shadow">
  <div class="container text-center">
    <p>
      This website is only for educational and demonstration purposes.
    </p>
    <a href="">Privacy Policy</a>
    <a href="">Agreement</a>
  </div>
</footer>
</body>
</html>