<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${uploadedGame.game.gameProfile.title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <style>
        :root {
            --bg-gradient2: linear-gradient(123deg, rgba(254, 0, 0, 0.38), rgba(0, 12, 15, 0.15), rgba(0, 12, 15, 0.15), rgba(255, 144, 200, 0), rgba(2, 180, 210, 0.24));
            --bg-gradient3: linear-gradient(36deg, rgba(251, 244, 0, 0.02), rgba(0, 2, 15, 0.13), rgba(2, 180, 210, 0.09));
        }

        .bg-dark-2 {
            background: #212529;
            color: aliceblue;
        }
    </style>
</head>
<body class="bg-dark-2" style="background-image: var(--bg-gradient2);">
<header class="masthead special-color-dark mb-4">
    <nav class="navbar shadow navbar-dark p-3 bg-dark-2 text-white" aria-label="Main navigation">
        <div class="container-fluid d-grid gap-3 align-items-center">
            <ul class="nav col col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
                <a class="font-weight-bold navbar-brand" href="/">Game Store</a>
                <li><a class="nav-link px-2 text-white" href="/store">Store</a></li>
                <li><a th:if="${#httpServletRequest.remoteUser}!=null" class="nav-link px-2 text-white"
                       href="/collection">Collection</a></li>
            </ul>
            <div class="d-flex justify-content-end text-white">
                <div th:if="${#httpServletRequest.remoteUser}!=null">
                    <a class="nav-link dropdown-toggle l text-white"
                       data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <label th:text="${user.publicUsername}"></label>
                    </a>
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownUser2"
                         style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.00172424px, 56px, 0px);">
                        <a class="dropdown-item" href="/account">Account</a>
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/support">Contact support</a>
                        <a class="dropdown-item" href="/upload">Upload game</a>

                        <hr class="dropdown-divider">
                        <form class="dropdown-item" th:action="@{/logout}" method="post">
                            <button class="btn btn-md btn-light text-dark" type="submit">Log out</button>
                        </form>
                    </div>
                </div>
                <div th:if="${#httpServletRequest.remoteUser}==null">
                    <a class="text-end text-white" href="/log-in" th:text="'login'"></a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="shadow d-flex justify-content-center container-lg text-white mb-4">
    <div class="container-lg row bg-dark-2" style="width:780px">
        <div class="container align-items-center mb-4">
            <h5 th:text="${uploadedGame.game.gameProfile.title}"></h5></div>
        <div class="col">
            <div id="carousel1" class="carousel slide mb-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" th:each="image, i : *{gameplayPictures}"
                        th:data-slide-to="${i.index}"></li>
                </ol>
                <div class="carousel-inner">
                        <div class="carousel-item active" th:each="image, i : *{gameplayPictures}"
                             th:if="${i.count}==1">
                            <img th:id="'image' + ${i.index}" style="width:1200px;height:360px"
                                 th:src="'data:image/png;base64,'+ ${gameplayPictures.get(i.index).getBase64ImageData()}"
                                 alt="" class="rounded d-block w-100 img-fluid image-uploaded">
                        </div>
                        <div class="carousel-item" th:each="image, i : *{gameplayPictures}"
                        th:if="${i.count}!=1">
                            <img th:id="'image' + ${i.index}" style="width:1200px;height:360px"
                                 th:src="'data:image/png;base64,'+ ${gameplayPictures.get(i.index).getBase64ImageData()}"
                                 alt="" class="rounded d-block w-100 img-fluid image-uploaded">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carousel1" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carousel1" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
            <div class="container mb-4">
                <form th:if="${favorite == false}" method="post"
                      th:action="@{/game/{id}/add-favorite(id =${uploadedGame.game.id.toString()})}">
                    <button style="background-image: var(--bs-gradient);"
                            class="btn btn-sm btn-primary btn-outline-light mb-4"
                            type="submit">
                        Add to favorites
                    </button>
                </form>
                <form th:if="${favorite == true}" th:method="delete"
                      th:action="@{/game/{id}/remove-favorite(id =${uploadedGame.game.id.toString()})}">
                    <button style="background-image: var(--bs-gradient);"
                            class="btn btn-sm btn-primary btn-outline-light mb-4"
                            type="submit">
                        Delete from favorites
                    </button>
                </form>
            </div>
            <div class="col d-flex justify-content-center">
                <h5>About</h5>
            </div>

            <div class="">
                <p class="lead mb-4" style="white-space: pre-wrap; word-wrap:break-word;"
                   th:text="${uploadedGame.game.gameProfile.description}"></p>
            </div>

            <h6>System Requirements:</h6>
            <div class="row">
                <div class="col-sm-6 container-sm font-weight-light">
                    <small>
                        <h6>Minimum:</h6>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'OS: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.minimalOperatingSystem.name}"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Processor: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.minimalProcessor.name}"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Graphics card: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.minimalGraphicCard.name}"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Memory: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.minimalMemory} + 'Gb RAM'"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Storage: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.minimalStorage} + 'Gb'"></dd>
                        </div>
                    </small>
                </div>
                <div class="col-sm-6 container-sm font-weight-light">
                    <small>
                        <h6>Recommended:</h6>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'OS: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.recommendedOperatingSystem.name}"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Processor: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.recommendedProcessor.name}"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Graphics card: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.recommendedGraphicCard.name}"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Memory: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.recommendedMemory} + 'Gb RAM'"></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3" th:text="'Storage: '"></dt>
                            <dd class="col-sm-9" th:text="${requirements.recommendedStorage} + 'Gb'"></dd>
                        </div>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="container-sm col-5 text-left">
        <div class="container">
            <div>
                <img style="height: 165px; width: 385px;"
                     th:src="'data:image/png;base64,'+ ${gamePagePicture.getBase64ImageData()}"
                     id="gamePageImage" class="img-fluid" alt=""/>
            </div>
            <p class="lead text-muted" style="word-wrap:break-word;"
               th:text="${uploadedGame.game.gameProfile.briefDescription}"></p>
            <p class="text-info" th:text="'Developer:   ' + ${uploadedGame.game.gameProfile.developer}"></p>
            <p th:if="${uploadedGame.game.gameProfile.developer} != ${uploadedGame.game.gameProfile.publisher}"
               class="md-2 text-info" th:text="'Publisher:   ' + ${uploadedGame.game.gameProfile.publisher}"></p>
            <label class="text-info" th:text="'Genre:   ' + ${uploadedGame.game.genre.toString()}"></label>
            <p class="text-muted"
               th:text="'Release date:   ' + ${uploadedGame.game.gameProfile.releaseDate.toLocalDate().toString()}">
            </p>
            <div class="card bg-dark-2" th:if="!${purchased}">
                <div class="card-body shadow mb-2">
                    <div th:if="${uploadedGame.game.gameProfile.price} > 0">
                        <div class="">
                            <p class="lead" th:text="'Buy ' + ${uploadedGame.game.gameProfile.title} + ' for '
                            + ${uploadedGame.game.gameProfile.price} + ' $'"></p>
                        </div>
                        <div class="float-right">
                            <form th:method="get"
                                  th:action="@{/payment-info/{id}(id =${uploadedGame.game.id.toString()})}">
                                <button style="background-image: var(--bs-gradient);"
                                        class="btn btn-md btn-success float-left"
                                        type="submit">
                                    Buy
                                </button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${uploadedGame.game.gameProfile.price} == 0">
                        <div class="">
                            <p class="lead" th:text="'Get '+ ${uploadedGame.game.gameProfile.title} + ' free'"></p>
                        </div>
                        <div class="float-right">
                            <form th:method="post"
                                  th:action="@{/purchase/{id}/get-free(id =${uploadedGame.game.id.toString()})}">
                                <button style="background-image: var(--bs-gradient);"
                                        class="btn btn-md btn-success float-left"
                                        type="submit">
                                    Get free
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

<footer style="background-image: var(--bg-gradient);"
        class="footer-10 bg-dark-2 justify-content-center special-color-dark font-small text-muted shadow">
    <div class="container text-center">
        <p>
            This website is only for educational and demonstration purposes.
        </p>
        <a href="">Privacy Policy</a>
        <a href="">Agreement</a>
    </div>
</footer>
</body>
</html>