<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uploaded Games</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <style>
        :root {
            --bg-gradient2: linear-gradient(123deg, rgba(241, 12, 0, 0.28), rgba(0, 12, 15, 0.15), rgba(255, 144, 200, 0), rgba(2, 180, 210, 0.24));
            --bg-gradient3: linear-gradient(36deg, rgba(241, 244, 0, 0.02), rgba(0, 2, 15, 0.13), rgba(2, 180, 210, 0.09));
        }
    </style>
</head>
<body>
<header class="masthead special-color-dark mb-4">
    <nav class="navbar shadow navbar-dark p-3 bg-dark text-white" aria-label="Main navigation">
        <div class="container-fluid d-grid gap-3 align-items-center bg-dark">
            <ul class="nav col col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
                <a class="font-weight-bold navbar-brand" href="/">Upload Game</a>
                <li><a class="nav-link px-2 text-white" href="/documentation">Documentation</a></li>
                <li><a class="nav-link px-2 text-white" href="/faq">FAQ</a></li>
                <li><a class="nav-link px-2 text-white" href="/uploaded-games">Uploaded Games</a></li>
            </ul>
            <div class="d-flex justify-content-end text-white">
                <div th:if="${#httpServletRequest.remoteUser}!=null">
                    <a class="nav-link dropdown-toggle l text-white"
                       data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <label th:inline="text">[[${#httpServletRequest.remoteUser}]]</label>
                    </a>
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownUser2"
                         style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.00172424px, 56px, 0px);">
                        <a class="dropdown-item" href="/account?account">Account</a>
                        <a class="dropdown-item" href="/profile?profile">Profile</a>
                        <a class="dropdown-item" href="/support?support">Contact support</a>
                        <a class="dropdown-item" href="/upload">Upload game</a>

                        <hr class="dropdown-divider">
                        <form class="dropdown-item" th:action="@{/logout}" method="post">
                            <button class="btn btn-md btn-light text-dark" type="submit">Log out</button>
                        </form>

                    </div>
                </div>
                <div th:if="${#httpServletRequest.remoteUser}==null">
                    <a class="text-end text-white" href="/log-in?login" th:text="'login'"></a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="shadow text-white mb-4" style="height:40px; background-image: var(--bs-gray-dark);">
    <div class="container-md text-white mb-4">
        <div class="row shadow border border-dark rounded-5 mb-2">
            <div class="col">
                <img style="width:120px;height:120px" src="" class="d-block w-100" alt=""/>
            </div>
            <div class="col text-center">
                <h6>Game name</h6>
            </div>
            <div class="col text-right">
                <p>400$</p>
            </div>

        </div>
    </div>
</main>

<footer style="background-image: var(--bg-gradient);" class="footer-10
justify-content-center special-color-dark font-small text-muted shadow">
    <div class="container text-center">
        <p>
            All rights reserved. All trademarks are property of their respective owners in the US and other
            countries.
        </p>
        <a href="">Privacy Policy</a>
        <a href="">Agreement</a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>